{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    {% if message %}
        {{ message }}
    {% endif %}
    <div class="container contents">
        <div class="row">
            <div class="col-sm-3">
                <button id="create-todo-btn" type="button" class="btn btn-primary btn-large btn-block" data-toggle="modal" data-target="#todo-modal">Create New Todo Item<span id="user_id" hidden>{{ user_id }}</span></button>
            </div>
            <div class="col-sm-6 centered">
                <h1>Todo's for {{ username|title}}</h1>
            </div>
            <div class="col-sm-3">
                <p>
                    Sort by Status:&nbsp;
                    <select id="choose_status">
                        <option value="All">All</option>
                        <option value="Todo">Todo</option>
                        <option value="Doing">Doing</option>
                        <option value="Done">Done</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <div id="REST-data" class="col-sm-12" ></div>
        </div>
        <div class="modal fade" id="todo-modal" tabindex="-1" role="dialog" aria-labelledby="todo-form-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="todo-form-header">Todo Item</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form name="todoForm" id="todoForm" role="form" method="post" action="{% url 'todos:create_todo' %}" class="account-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if form %}
                                {{ form | as_bootstrap }}
                            {% endif %}
                            <div class="modal-footer">
                                <button type="button" id="close-btn" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" id="submit-btn" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edit-todo-modal" tabindex="-1" role="dialog" aria-labelledby="todo-form-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="edit-todo-form-header">Edit Todo Item</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form name="editTodoForm" id="editTodoForm" role="form" class="account-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" id="edit_title" name="edit_title" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" id="edit_description" name="edit_description" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" id="edit_status" name="edit_status" >
                                    <option value="Todo" selected>Todo</option>
                                    <option value="Doing">Doing</option>
                                    <option value="Done">Done</option>
                                </select>
                            </div>
                            <div>
                                <input id="edit_todo_id" type="hidden" value="">
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="close-edit-btn" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" id="submit-edit-btn" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/globals.js' %}"></script>
    <script src="{% static 'js/edit_todo.js' %}"></script>
    <script src="{% static 'js/talk_to_api.js' %}"></script>
    <script src="{% static 'js/list_todos.js' %}"></script>
{% endblock %}