body{
    color:#9d9d9d;
}
.contents{
    margin-top:2em;
}
.margin-top-3{
    margin-top:3em;
}
table.table{
    margin-top:1em;
}
#spinner{
    margin-left:auto;
    margin-right:auto;
}
.centered{
    text-align:center;
}
.title{
    margin-bottom:2em;
}
select.select-menu{
    background-color: #9d9d9d;
    color: white;
}
#record_count{
    font-weight:bold;
}
.cell-title{
    min-width:25%;
}
.cell-description{
    min-width:50%;
}
.cell-status{
    min-width:13%;
}
.cell-action{
    min-width:12%;
}